/* police de caractére importée de googlefont*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Luckiest+Guy&display=swap');
/*création class perso*/ 
:root{
    --title: #f8c27a;
    --textShadow: 0 2px 2px rgba(0,0,0,.7);
    --boxshadow: 0 0px 10px rgba(0,0,0,.2);
}
/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*body*/
body{
    font-size: 14px;
    width: 100vw;
    overflow: hidden;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.container{
    background-color:rgba(255,255,255,.2);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: var(--boxshadow);
}
h1{
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 15px;
    color: #ffc31d;
    text-shadow: var(--textShadow);
    display:inline-block;
}
.vies{
    margin: 10px;
}
ion-icon{
    font-size: 50px;
    fill: red;
}
/*formulaire d'envoi*/
#inputBox{
    border-color:#96e6a1 ;
    padding: 15px;
    border-radius: 5px;
}
#inputBox > label{
    display: block;
    margin-bottom: 8px;
}
input,button{
    outline: none;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
}
button{
    background-color: teal;
    color:#fff;
    cursor: pointer;
    transition: all 0.2s;
}
button:hover{
    transform: translateY(-2px);
    background-color: rgb(0, 184, 184);
}
p#message {
    margin: 20px auto 0 auto;
}
#rejouer {
    display: none;
    margin: 5px auto 0 auto;
}
#details{
    font-weight: bold;
    font-style: 6px;
    margin-top:5px ;
}